
@font-face {
	font-family: 'iosevka-regular';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/ttf/iosevka-regular.ttf') format('truetype'), url('../fonts/woff2/iosevka-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-extended';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/ttf/iosevka-extended.ttf') format('truetype'), url('../fonts/woff2/iosevka-extended.woff2') format('woff2');
}


@font-face {
	font-family: 'iosveka-extendeditalic';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/ttf/iosevka-extendeditalic.ttf') format('truetype'), url('../fonts/woff2/iosevka-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-extendedmedium';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/ttf/iosevka-extendedmedium.ttf') format('truetype'), url('../fonts/woff2/iosevka-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-extendedmediumitalic';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/ttf/iosevka-extendedmediumitalic.ttf') format('truetype'), url('../fonts/woff2/iosevka-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-extendedbold';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('../fonts/ttf/iosevka-extendedbold.ttf') format('truetype'), url('../fonts/woff2/iosevka-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-extendedheavyitalic';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('../fonts/ttf/iosevka-extendedheavyitalic.ttf') format('truetype'), url('../fonts/woff2/iosevka-extendedheavyitalic.woff2') format('woff2');
}
