
.dark-mode {
	background-color: #1C1B22;
}

.dark-text-content {
	color: white;
	padding-left: 20px;
	font-size: 18px;
}

.dark-title {
	color: white;
	background-color: #2A2B33;
	padding: 20px;
	border-radius: 10px;
	position: relative;
	top: -11px;
}

.dark-wip-warning {
	color: white;
	background-color: #2A2B33;
	position: fixed;
	border-radius: 10px;
	padding: 10px;
	text-align: right;
	right: 10px;
	bottom: 0px;
}

.dark-notfound {
	color: white;
	background-color: #2A2B33;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

.dark-notfound-title {
	font-size: 30px;
	margin-left: 520px;
	margin-right: 520px;
}

.dark-notfound-text {
	font-size: 25px;
	margin-left: 430px;
	margin-right: 430px;
}

a.title-links {
	color: white;
	text-decoration: none;
}

a.title-links:hover {
  color: #84848A;
  text-decoration: none;
}

a.text-links {
	color: white;
	text-decoration: none;
}

a.text-links:hover {
  color: #84848A;
  text-decoration: underline;
}

li {
	color: white;
	text-decoration: none;
}

.iosevka-regular {
	font-family: 'iosevka-regular', sans-serif;
}

.iosevka-extended {
	font-family: 'iosevka-extended', sans-serif;
}

.iosevka-extendedmedium {
	font-family: 'iosevka-extendedmedium', sans-serif;
}

.iosevka-extendedbold {
	font-family: 'iosevka-extendedbold', sans-serif;
}

.ubuntu-regular {
	font-family: 'ubuntu-regular', sans-serif;
}

.ubuntu-italic {
	font-family: 'ubuntu-italic', sans-serif;
}

.ubuntu-medium {
	font-family: 'ubuntu-medium', sans-serif;
}

.ubuntu-bold {
	font-family: 'ubuntu-bold', sans-serif;
}

.index {
	text-align: center;
}