
@font-face {
    font-family: 'ubuntu-italic';
    src: url('../fonts/woff2/ubuntu-ri-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-ri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-regular';
    src: url('../fonts/woff2/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-mediumitalic';
    src: url('../fonts/woff2/ubuntu-mi-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-mi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-medium';
    src: url('../fonts/woff2/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-lightitalic';
    src: url('../fonts/woff2/ubuntu-li-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-li-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-light';
    src: url('../fonts/woff2/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-condensedregular';
    src: url('../fonts/woff2/ubuntu-c-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-bolditalic';
    src: url('../fonts/woff2/ubuntu-bi-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu-bold';
    src: url('../fonts/woff2/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/woff/ubuntu-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}